<div class="frame">
  <div class="head">
    <div class="actions">
      <h2>Actions</h2>
    </div>
    <h1><%= @feature.info.title %> - <i><%= @feature.relative_path %></i></h1>
  </div>
  <div class="content two_columns">
    <div class="left">
      <div id="raw-bespin" class="bespin"><%= @feature.raw -%></div>
    </div>

    <div class="right">
      <ul class="actions">
        <li>
          <% form_tag documentation_feature_path(@feature.id), :name => 'edit_form' do %>
              <%= hidden_field_tag 'raw', '' %>

              <%= hidden_field_tag 'config[tags]', @cfm.config.tags %>
              <%= hidden_field_tag 'config[dir]', @cfm.config.dir %>
              <%= hidden_field_tag 'config[aggregate][]', @cfm.config.aggregate.first %>
              <%= hidden_field_tag 'config[aggregate][]', @cfm.config.aggregate.last %>

              <ul class="form_fields">
                <li>
                  <label for="config_cvs_commit">
                    <%= hidden_field_tag 'config[cvs_commit]', 0 %>
                    <%= check_box_tag 'config[cvs_commit]', 1, @cfm.config.cvs_commit=='1' %>
                    Commit
                  </label>
                  <label for="config_cvs_push">
                    <%= hidden_field_tag 'config[cvs_push]', 0 %>
                    <%= check_box_tag 'config[cvs_push]', 1, @cfm.config.cvs_push=='1' %>
                    Push
                  </label>
                </li>
              </ul>
          <% end %>
          <%= link_to_function "Save", "document.getElementById('raw').value= editor.value; document.edit_form.submit();" %>
        </li>
        <li><%= link_to "Back", documentation_features_path %></li>
      </ul>
      <h3>Navigatior</h3>
      <ul class="navigator_list">
      </ul>
    </div>

    <div class="clb"></div>


  </div>
</div>


<script>

    window.onBespinLoad = function() {
        var edit = document.getElementById("raw-bespin");
        var env = edit.bespin;
        window.editor = env.editor;
        navigationRedraw();
        editor.textChanged.add(function(oldRange, newRange, newText) {
            navigationRedraw();
        });
    };


    function editorLines()
    {
        return(editor.value.split("\n"));
    }

    function navigationElement(line_number, title)
    {
        return("<li><h5><a onclick=\"scrollTo(" + line_number + ");; return false;\" href=\"#\">" + title + "</a></h5>\
       <p>@no_tags_jet</p>\
       <span class=\"marker m_magenta\" style=\"position:absolute; top: 13px; right: 5px;\">0</span> </li>");
    }

    function navigationRedraw()
    {
        var scenario_line = /Scenario:/
        var scenario_title = /Scenario:\s?/
        var navigation = ""
        $.each(editorLines(), function(index, line)
        {
            if (scenario_line.test(line))
            {
                navigation += navigationElement(index + 1, line.replace(scenario_title, ''));
            }
        });
        $('.navigator_list').html(navigation);
    }

    function scrollTo(number)
    {
        editor.setLineNumber(number);
    }

</script>