<div style="margin: 5px 0 35px 5px;"><%= button_to 'Back', documentation_features_path %></div>

<h1><%= @feature.info.title %></h1>
<span><i><%= @feature.relative_path %></i></span>

<% form_tag documentation_feature_path(@feature.id) do %>
    <div style="margin: 35px;">
      <%= submit_tag 'Save',
                     :onClick => "document.getElementById('raw').value= document.getElementById('raw-bespin').bespin.value;" %></div>
    <%= hidden_field_tag 'raw', '' %>
<% end %>

<div id="raw-bespin" style="height: 1024px; width: 800px" class="bespin"><%= @feature.raw -%></div>