<div class="frame">
  <div class="head">
    <div class="actions">
      <h2>Actions</h2>
    </div>
    <h1>Feature</h1>
  </div>
  <div class="content two_columns">
    <div class="left">
      <table class="generic" cellpadding="0" cellspacing="0">
        <thead>
        <tr>
          <th></th>
          <th></th>
          <th style="width: 170px">Features <span class="marker m_magenta"><%= @cfm.features.size %></span></th>
          <th style="width: 170px">Scenarios <span class="marker m_blue"><%= @cfm.scenarios.size %></span></th>
          <th style="width: 170px">Estimation <span class="marker m_grey"><%= @cfm.estimation %></span></th>
        </tr>
        </thead>
        <tbody>
        <%= raw draw_report_rows(@cfm) %>
        </tbody>
      </table>
    </div>

    <div class="right">
      <%= form_tag '', :method => :get do %>

          <h3 class="first">Scope by</h3>

          <div class="pdd">

            <fieldset class="inputs">
              <%= hidden_field_tag 'config[cvs_commit]', @cfm.config.cvs_commit %>
              <%= hidden_field_tag 'config[cvs_push]', @cfm.config.cvs_push %>
              <ol>
                <li class="select">
                  <%= label_tag 'config[dir]', "Directory:" %>
                  <%= select_tag 'config[dir]', options_for_select(list_of_dirs, :selected => @cfm.config.dir) %>
                </li>
                <li class="string">
                  <%= label_tag 'config[tags]', "Tags:" %>
                  <%= text_field_tag 'config[tags]', @cfm.config.tags %>
                </li>
              </ol>
            </fieldset>

          </div>

          <h3>Presentation settings</h3>

          <div class="pdd">

            <fieldset class="inputs">
              <ol>
                <li class="select">
                  <label>Group by</label>
                  <%= select_tag 'config[aggregate][]', options_for_select(@cfm.config.aggregate_options, :selected => @cfm.config.aggregate.first) %>
                </li>
                <li class="select">
                  <%= select_tag 'config[aggregate][]', options_for_select(@cfm.config.aggregate_options, :selected => @cfm.config.aggregate.last) %>
                </li>
                <li class="commit ta_r">
                  <div class="bt">
                    <%= submit_tag "Filter" %>
                  </div>
                </li>

              </ol>
            </fieldset>

            <div class="ta_r">

            </div>

          </div>
      <% end %>

      <div class="header">
        <h2>Add new feature</h2>
      </div>

      

      <%= form_tag documentation_features_path, :name => 'new_form', :method => 'post' do %>

          <div class="pdd">

            <fieldset class="inputs">
              <ol>
                <li class="string">
                  <label>Feature title</label>
                  <%= text_field_tag 'name' %>
                </li>
                <li class="commit ta_r">
                  <div class="bt">
                    <%= submit_tag "Add" %>
                  </div>
                </li>
              </ol>
            </fieldset>
            
          </div>

      <% end %>

    </div>

    <div class="clb"></div>


  </div>
</div>

