<h1>Dashboard</h1>


<% form_tag '', :method => :get do %>
    <div id='filter' style="width: 100%; padding: 1%; float: none;">
      <h2>Scope by</h2>

      <div id='scope' style="width: 100%">
        <span>Scope</span>
        <%= label_tag 'config[dir]', "Directory:" %>
        <%= select_tag 'config[dir]', options_for_select(list_of_dirs, :selected => @cfm.config.dir) %>
        <%= label_tag 'config[tags]', "Tags:" %>
        <%= text_field_tag 'config[tags]', @cfm.config.tags %>
      </div>
    </div>
    <div id='view' style="width: 100%; padding: 1%; float: none;">
      <h2>Presentation settings</h2>

      <div id='aggregate' style="float: left; width: 30%">
        <span>Aggregate by:</span>
        <%= label_tag 'config[aggregate]' %>
        <%= select_tag 'config[aggregate][]', options_for_select(@cfm.config.aggregate_options, :selected => @cfm.config.aggregate.first) %>
        <%= select_tag 'config[aggregate][]', options_for_select(@cfm.config.aggregate_options, :selected => @cfm.config.aggregate.last) %>
      </div>
      <div id='sort' style="float: left; width: 30%">
        <span>Sort by:</span>
      </div>
    </div>
    <%= submit_tag "Refresh" %>
<% end %>

<h2>Features</h2>

<table>
  <thead>
  <tr>
    <th></th>
    <th></th>
    <th>Features [<%= @cfm.features.size %>]</th>
    <th>Scenarios [<%= @cfm.scenarios.size %>]</th>
    <th>Estimation [<%= @cfm.estimation %>]</th>
  </tr>
  </thead>
  <tbody>
  <%= draw_report_rows(@cfm) %>
  </tbody>
</table>