<div class="frame">
  <div class="head">
    <div class="actions">
      <h2>Actions</h2>
    </div>
    <h1>Feature</h1>
  </div>
  <div class="content two_columns">
    <div class="left">
      <table class="generic" cellpadding="0" cellspacing="0">
        <thead>
        <tr>
          <th></th>
          <th></th>
          <th style="width: 170px">Features <span class="marker m_blue"><%= @cfm.features.size %></span></th>
          <th style="width: 170px">Scenarios <span class="marker m_magenta"><%= @cfm.scenarios.size %></span></th>
          <th style="width: 170px">Estimation <span class="marker m_grey"><%= @cfm.estimation %></span></th>
        </tr>
        </thead>
        <tbody>
        <%= raw draw_report_rows(@cfm) %>
        </tbody>
      </table>
    </div>

    <div class="right">
      <ul class="actions">
        <li><%= link_to "Filter", "#" %></li>
        <li class="section_view">

          <% form_tag '', :method => :get do %>
              <h4>Scope by</h4>

              <ul class="form_fields">
                <%= hidden_field_tag 'config[cvs_commit]', @cfm.config.cvs_commit %>
                <%= hidden_field_tag 'config[cvs_push]', @cfm.config.cvs_push %>
                <li>
                  <%= label_tag 'config[dir]', "Directory:" %>
                  <%= select_tag 'config[dir]', options_for_select(list_of_dirs, :selected => @cfm.config.dir) %>
                </li>
                <li>
                  <%= label_tag 'config[tags]', "Tags:" %>
                  <%= text_field_tag 'config[tags]', @cfm.config.tags %>
                </li>
              </ul>

              <h4>Presentation settings</h4>

              <ul class="form_fields">
                <li>
                  <label>Group by</label>
                  <%= select_tag 'config[aggregate][]', options_for_select(@cfm.config.aggregate_options, :selected => @cfm.config.aggregate.first) %>
                </li>
                <li>
                  <%= select_tag 'config[aggregate][]', options_for_select(@cfm.config.aggregate_options, :selected => @cfm.config.aggregate.last) %>
                </li>
                <li class="commit">
                  <%= submit_tag "Filter" %>
                </li>
              </ul>


          <% end %>
        </li>
        <li><%= link_to_function "Add new feature", "#" %></li>

        <li class="section_view">
          <ul class="form_fields">
            <% form_tag documentation_features_path, :name => 'new_form', :method => 'post' do %>
                <li>
                  <label>Feature title</label>
                  <%= text_field_tag 'name' %>
                </li>
                <li class="commit">
                  <%= submit_tag "Add" %>
                </li>

            <% end %>
          </ul>
        </li>
      </ul>
    </div>

    <div class="clb"></div>


  </div>
</div>

