<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
  <title>Documentation</title>
  <link href="<%= asset_link('stylesheets/BespinEmbedded.compressed.css') -%>" media="screen" rel="stylesheet" type="text/css"/>
  <script src="<%= asset_link('javascripts/BespinEmbedded.compressed.js') -%>"></script>
  <link href="<%= asset_link('stylesheets/layout.css') -%>" rel="stylesheet" media="screen" rel="stylesheet" type="text/css"/>
</head>
<body>
<div id="container">
  <div id="menu">
    <ul>
      <li><%= link_to "business overview", documentation_features_path, :class => "business highlighted" %></li>
      <!--<li><%#= link_to "development overview", documentation_kanban_path, :class => "development" %></li>-->
    </ul>
  </div>
  <div id="content">
    <%= yield %>
  </div>
</div>
</body>
</html>